* {
    padding: 0px;
    margin: 0px;
}

nav {
    background: orange;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo {
   color: #fff;
   margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.playing {
    display: flex;
    color: orange;
    font-weight: bolder;
    font-size: 20px;
    gap: 200px;
}

.playing1 {
    position: relative;
}

.playing2 {
    position: relative;
}

.restart {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    display: none;
    border-radius: 5px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
}

.marker-grid {
    border: 1px solid orange;
    color: orange;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker-grid:hover {
    background: rgb(255, 166, 0, .2);
}

.winner-announcement {
    color: orange;
    font-size: 20px;
    font-weight: bolder;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(218, 214, 214);
    font-size: 15px;
    padding: 20px;
}

.github-logo {
    height: 15px;
    margin-left: 2px;
}